@model DrpBnd.Models.Insert
@{
    ViewBag.Title = "Insert_Load";
}

<h2>Insert Details</h2>
<div>
    @using (Html.BeginForm("Insert_Click", "Insert", FormMethod.Post))
    {
        <div>
            <label>Name:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div>
            <label>Age:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.Age)
            @Html.ValidationMessageFor(m => m.Age)
        </div>



        <div>
            <label>States:</label>
        </div>
        <div>
            @Html.DropDownList("stId", new SelectList(ViewBag.Selstates, "Value", "Text"),
           "Select State", new { @class = "form-control", @id = "state-ddl" })
        </div>

        <div>
            <label>Districts:</label>
        </div>
        <select id="district-ddl" class="form-control" name="DisId"></select>
        <div>
        </div>


        <div>
            <label>Address:</label>
        </div>
        <div>
            @Html.TextAreaFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)
        </div>
        <div>
            <input type="submit" value="Insert" />
            @Html.DisplayFor(m => m.Msg)
        </div>
    }
</div>

<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    $('#district-ddl').append('<option>Select District</option>');
    $('#state-ddl').change(function () {
         var stateId = $(this).val();
         $.ajax({
             url: '@Url.Action("GetDist", "Insert")',
             //type: 'GET',
             data: { stateId: stateId },
             //dataType: 'json',
             success: function (data) {
                 $('#district-ddl').empty();
                 $('#district-ddl').append('<option>Select District</option>');
                 $.each(data, function (index, item) {
                     $('#district-ddl').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                 });
             }
         });
     });
</script>



